/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.banner {
    background-color: #ffca00;
}
    .banner h1 {
    font-size: 20px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.banner {
    background-color: #ddff00;
}
    .banner h1 {
    font-size: 20px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 .banner {
     background-color: #ddff00;
}
 .banner h1 {
    font-size: 20px;
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.banner {
     background-color: #00ffc7;
}
    .banner h1 {
    font-size: 30px;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 

}